<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="438" height="246" style="" xml:space="preserve"><rect id="backgroundrect" width="100%" height="100%" x="0" y="0" fill="none" stroke="none" class="" style=""/>
<g class="currentLayer" style=""><title>Layer 1</title><g id="svg_3">
</g><g id="svg_4">
</g><g id="svg_5">
</g><g id="svg_6">
</g><g id="svg_7">
</g><g id="svg_8">
</g><g id="svg_9">
</g><g id="svg_10">
</g><g id="svg_11">
</g><g id="svg_12">
</g><g id="svg_13">
</g><g id="svg_14">
</g><g id="svg_15">
</g><g id="svg_16">
</g><g id="svg_17">
</g><rect fill="#b80404" stroke-dashoffset="" fill-rule="nonzero" id="svg_1" x="0.2680053114891052" y="0.162750244140625" width="438" height="254" style="color: rgb(0, 0, 0);" class="selected" fill-opacity="1"/></g></svg>
